# Pandas Cont.

In [26]:
import pandas as pd
from pandas import Series, DataFrame

import numpy as np

### Sorting DataFrames
Sorting a DataFames can be done by index or by column. The index sorting or `df.sort_index()` enables us to sort columns or rows by their labels.

In [27]:
df = DataFrame(np.arange(8).reshape((2,4)), index=['three', 'one'],
              columns=['d', 'a', 'b', 'c'])
print(df)
print()

# This will sort the indexes of the dataframe
df.sort_index(inplace=True) # Inplace is necessary to update the df object, otherwise need to store output in var
print(df)
print()

# This will sort the columns of the dataframe
df.sort_index(inplace=True, axis=1)
print(df)

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

       a  b  c  d
one    5  6  7  4
three  1  2  3  0

### Sorting by Values
Typically we would rather sort by the values within the dataframe. This is accomplished using the [**df.sort_values()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html) method.
```python
sorted_df = df.sort_values(by=cols, axis=axis, ascending=True, in_place=False)
```
This will create a new dataframe, sorted by the provided **cols/columns**. This sort is done in column order. So `df.sort_values(by=[col1, col2])` would sort by col1 first, and then deal with any duplicate values in col1 by sorting on the values in col2.

*Note: __axis = 1__ would sort the columns. Not something we typically worry about, but useful to keep in mind*

### Prior to Sorting
<img src="data_prior_sort.png" width="700" align="center"></img>

### After Sorting (Latitude, Median Age, Value)
<img src="data_post_sort.png" width="700" margin-left="auto"></img>

In [28]:
#Sorting Continued

df = pd.read_csv('data/housing.csv', nrows=11)
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,Unnamed: 10,Unnamed: 11,Source - https://www.kaggle.com/harrywang/housing#housing.csv
0,-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY,NaN,NaN,NaN
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY,NaN,NaN,NaN
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100,NEAR BAY,NaN,NaN,NaN
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300,NEAR BAY,NaN,NaN,NaN
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200,NEAR BAY,NaN,NaN,NaN

In [29]:
cols_interest = ['latitude', 'housing_median_age', 'median_house_value']
df.sort_values(by=cols_interest)[cols_interest]

    latitude  housing_median_age  median_house_value
8      37.84                  42              226700
7      37.84                  52              241400
9      37.84                  52              261100
6      37.84                  52              299200
5      37.85                  52              269700
10     37.85                  52              281500
3      37.85                  52              341300
4      37.85                  52              342200
2      37.85                  52              352100
1      37.86                  21              358500
0      37.88                  41              452600

Changing these parameters can help us highlight different aspects of the data, but function almost identically

In [30]:
df.sort_values(by=['median_house_value', 'latitude'], inplace=True, ascending=False)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,Unnamed: 10,Unnamed: 11,Source - https://www.kaggle.com/harrywang/housing#housing.csv
0,-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY,NaN,NaN,NaN
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY,NaN,NaN,NaN
2,-122.24,37.85,52,1467,190,496,177,7.2574,352100,NEAR BAY,NaN,NaN,NaN
4,-122.25,37.85,52,1627,280,565,259,3.8462,342200,NEAR BAY,NaN,NaN,NaN
3,-122.25,37.85,52,1274,235,558,219,5.6431,341300,NEAR BAY,NaN,NaN,NaN
6,-122.25,37.84,52,2535,489,1094,514,3.6591,299200,NEAR BAY,NaN,NaN,NaN
10,-122.26,37.85,52,2202,434,910,402,3.2031,281500,NEAR BAY,NaN,NaN,NaN
5,-122.25,37.85,52,919,213,413,193,4.0368,269700,NEAR BAY,NaN,NaN,NaN
9,-122.25,37.84,52,3549,707,1551,714,3.6912,261100,NEAR BAY,NaN,NaN,NaN
7,-122.25,37.84,52,3104,687,1157,647,3.1200,241400,NEAR BAY,NaN,NaN,NaN
8,-122.26,37.84,42,2555,665,1206,595,2.0804,226700,NEAR BAY,NaN,NaN,NaN

## Pandas Stats
Just like **numpy**, there are a number of **statistical functions** that we can leverage when working with **pandas dataframes**

Some examples:
- count
- min, max
- sum
- mean
- median
- var
- std

These are all called in the same manner:
```python
    stat = df.stat_func()
```

In [31]:
df = pd.read_csv('data/housing.csv')

# This prints out the column-wise mean values
df.mean()

longitude                                                          -119.569704
latitude                                                             35.631861
housing_median_age                                                   28.639486
total_rooms                                                        2635.763081
total_bedrooms                                                      537.870553
population                                                         1425.476744
households                                                          499.539680
median_income                                                         3.870671
median_house_value                                               206855.816909
Unnamed: 10                                                                NaN
Unnamed: 11                                                                NaN
Source - https://www.kaggle.com/harrywang/housing#housing.csv              NaN
dtype: float64

Can calculate the mean of a *specific* column by subsetting

In [32]:
df['median_house_value'].mean()

206855.81690891474

### Describe
To get a quick view of the internals of a dataframe, we can use `df.describe()`. This will give information on **num of elements, mean, std, etc.**. This is usually a good way to start your exploration of a new dataset.

In [10]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,Unnamed: 10,Unnamed: 11,Source - https://www.kaggle.com/harrywang/housing#housing.csv
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000,0.0,0.0,0.0
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909,NaN,NaN,NaN
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874,NaN,NaN,NaN
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000,NaN,NaN,NaN
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000,NaN,NaN,NaN
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000,NaN,NaN,NaN
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000,NaN,NaN,NaN
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,NaN,NaN,NaN

## In-Class Work: Problem 1
Given the housing csv, determine which rows in the dataset are outliers for **median_house_value**.

*Note: For the purpose of this exercise, we'll consider anything 1.5 stds away from the mean an outlier.*

***You should identify 2048 rows***

In [39]:
#Problem 1
"""Given the following dataframe (df) determine which rows have values, for every column,
that fall outside (mean - 1std) for the given column
E.G. For row x values in colummns a, b, c, and d are further than 1 std away from the mean for column a, b, c, and d

Should find rows 24 and 28
"""

df = pd.read_csv('data/housing.csv')


median_house_std = df[['median_house_value']].std()

median_house_mean = df[['median_house_value']].mean()

func = lambda x: True if x['median_house_value'] < median_house_std or

median_house_value    206855.816909
dtype: float64

### Pandas Correlation and Covariance
Pandas, as with **numpy**, provides ways to quickly calculate *covariance* and *correlation coefficients*. Just as we saw with the other stats functions, they are called as methods `df.cov()` and `df.corr()`.

*Note: This isn't always as practical as with numpy, as it isn't uncommon to have non-numeric data in our dataframes.*

In [17]:
#Correlation and Covariance
df = pd.read_csv('housing.csv')
tmp_df = df[['total_rooms', 'total_bedrooms', 'median_income', 'median_house_value']]

In [18]:
tmp_df.cov()

,total_rooms,total_bedrooms,median_income,median_house_value
total_rooms,4.759445e+06,8.567306e+05,820.852410,3.377289e+07
total_bedrooms,8.567306e+05,1.775654e+05,-6.180851,2.416878e+06
median_income,8.208524e+02,-6.180851e+00,3.609323,1.508475e+05
median_house_value,3.377289e+07,2.416878e+06,150847.482793,1.331615e+10

In [19]:
tmp_df.corr()

,total_rooms,total_bedrooms,median_income,median_house_value
total_rooms,1.000000,0.930380,0.198050,0.134153
total_bedrooms,0.930380,1.000000,-0.007723,0.049686
median_income,0.198050,-0.007723,1.000000,0.688075
median_house_value,0.134153,0.049686,0.688075,1.000000

## Pandas Uniques
We can find unique values by simply calling `df[col].unique()`. This is because **Series** have a unique method, and subsetting a **dataframe** returns the **Series** that column comprises.

Similarly we can call `df[col].value_counts()` to determine how frequent each value in a Series is. **This is extremely useful**_, at least in my opinion._

In [26]:
df = pd.read_csv('housing.csv')
df['ocean_proximity'].unique() #Unique method only exists for Series data, not DataFrames

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [25]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

## isin()
Just like python's x in y functionality, we can do the same thing usuing `df[col].isin(lst)`. This is a useful tool to subset a dataframe by it's categorical data.

In [29]:
waterfront_df = df[df['ocean_proximity'].isin(['NEAR OCEAN', 'NEAR BAY', 'ISLAND'])]
waterfront_df['ocean_proximity'].unique()

array(['NEAR BAY', 'NEAR OCEAN', 'ISLAND'], dtype=object)

## Advanced CSV and Excel Spreadsheet Loading
There are a lot of special options we can use when reading/writing csv/excel files.
 - pd.read_csv() - read in a csv file
 - df.to_csv() - save a dataframe out to a file
 - pd.read_excel() - read a msoft excel spreadsheet
 - pd.to_excel() - save a dataframe out to an excel spreadsheet

### Reading a CSV File
We've already seen how to read a csv - `pd.read_csv({file_name})`, but there is a lot more to this function:
 - header=None: Don't try to read in a header for the data (there isn't always a header provided in the dataset)
 - nrows=int: Sometimes there is formatting or empty space prior to our data, this allows us to skip rows when reading
 - dtype=dict: Pandas will try to automatically detect the **dtypes** of each column of data, but it isn't always 100% accurate
 - etc.

In [31]:
df = pd.read_csv('housing.csv', header=None)
df.head(5) # No column names??

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,NaN,NaN,Source - https://www.kaggle.com/harrywang/hous...
1,-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY,NaN,NaN,NaN
2,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY,NaN,NaN,NaN
3,-122.24,37.85,52,1467,190,496,177,7.2574,352100,NEAR BAY,NaN,NaN,NaN
4,-122.25,37.85,52,1274,235,558,219,5.6431,341300,NEAR BAY,NaN,NaN,NaN

### Reading an Excel File
Reading an Excel file is essentially the same as reading a csv file except for two things:
 1. It requires an additional package to work (which isn't always installed by default)
 2. It requires additional information about which sheet you are trying to read
  - Excel spreadsheets can have multiple *sheets*, since **pandas** only works on singluar tables we need to specifiy a single sheet.

In [32]:
pd.read_excel('housing.xlsx', sheet_name='data')

ImportError: Install xlrd >= 0.9.0 for Excel support

### Saving a Dataframe to CSV
While we can read *xslx* or Excel files, we can only save out to CSV. To accomplish this we simply need to `df.to_csv({file_name})`. For the most part that is all that is needed, although I usually run it with the param `df.to_csv({file_name}, index=False)`

In [58]:
df = pd.read_csv('housing.csv')
waterfront_df = df[df['ocean_proximity'].isin(['NEAR OCEAN', 'NEAR BAY', 'ISLAND'])]
waterfront_df.to_csv('waterfront_housing.csv', index=False)

In [59]:
new_df = pd.read_csv('waterfront_housing.csv')
new_df.head(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,Unnamed: 10,Unnamed: 11,Source - https://www.kaggle.com/harrywang/housing#housing.csv
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY,NaN,NaN,NaN
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY,NaN,NaN,NaN
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY,NaN,NaN,NaN
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY,NaN,NaN,NaN
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY,NaN,NaN,NaN

## In-Class Work: Problem 2
Recreate the waterfront_housing.csv with `index=True` and read the CSV back in. What happened? Attempt to fix how you read in the CSV so it looks as you would expect.

In [35]:
# Problem 2

# Cut-Off Point!

## Dealing with Missing Data
Very commonly in analytics we'll run into a dataset that isn't complete (e.g. missing data for certain rows). Thus there are a number of things we need to be able to do to handle situations like this.

In [68]:
# Working with Series
s1 = pd.Series([1, np.nan, 23, np.nan, 3.2, None])
print("Data with NAN's:")
print(s1)
print("\nData without NAN's (dropna()):")
print(s1.dropna()) # We can drop any np.nan values simply by droping them
print("\nData without NAN's (filetering):")
print(s1[s1.notnull()]) # We could also just filter them out with indexing

Data with NAN's:
0     1.0
1     NaN
2    23.0
3     NaN
4     3.2
5     NaN
dtype: float64

Data without NAN's (dropna()):
0     1.0
2    23.0
4     3.2
dtype: float64

Data without NAN's (filetering):
0     1.0
2    23.0
4     3.2
dtype: float64

Very similar operations exist for dataframes

In [7]:
#Handling missing values in Pandas (DataFrame)

df = pd.DataFrame([[1,2,3], [1, np.nan, np.nan],
                [np.nan, np.nan, np.nan], [np.nan, 6, 3]])
print(df)

     0    1    2
0  1.0  2.0  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.0  3.0

In [8]:
print("\nDataFrame with removed NAN's (dropna()):")
print(df.dropna()) # Leaves us with only entries without any NAN

print("\nDataFrame with all NAN's removed:")
print(df.dropna(how='all')) # only remove records where every value is nan

print("\nDataFrame with thresholded NAN's removed:")
print(df.dropna(thresh=2)) # only remove records where two or more  nans exist

DataFrame with removed NAN's (dropna()):
     0    1    2
0  1.0  2.0  3.0

DataFrame with all NAN's removed:
     0    1    2
0  1.0  2.0  3.0
1  1.0  NaN  NaN
3  NaN  6.0  3.0

DataFrame with thresholded NAN's removed:
     0    1    2
0  1.0  2.0  3.0
3  NaN  6.0  3.0

## Filling Nans
Sometimes there might be a value that can logically be used to replace missing data. In this case we can fill in the nan values.

In [21]:
df = pd.DataFrame([[1,3.2,5], [1, np.nan, np.nan],
                [np.nan, np.nan, np.nan], [np.nan, 6, 3]])
print(df)

print("\nDataFrame filled with 0's:")
print(df.fillna(0)) # Here we simply fill an nan with 0

print("\nWe can also do column defualts:")
print(df.fillna({x:x for x in range(df.shape[0])})) # Fill in nans by column number

     0    1    2
0  1.0  3.2  5.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.0  3.0

DataFrame filled with 0's:
     0    1    2
0  1.0  3.2  5.0
1  1.0  0.0  0.0
2  0.0  0.0  0.0
3  0.0  6.0  3.0

We can also do column defualts:
     0    1    2
0  1.0  3.2  5.0
1  1.0  1.0  2.0
2  0.0  1.0  2.0
3  0.0  6.0  3.0

In [22]:
"""There are also a 'methods' parameter which defines a couple of methods for filing in data:
    - pad/ffill: takes the last known value and propogates it forward
    - backfill/bfill: takes the next known value and backfills the value
"""

print(df)
print("\nDataFrame.fillna() ffill:")
print(df.fillna(method='bfill'))

     0    1    2
0  1.0  3.2  5.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.0  3.0

DataFrame.fillna() ffill:
     0    1    2
0  1.0  3.2  5.0
1  1.0  6.0  3.0
2  NaN  6.0  3.0
3  NaN  6.0  3.0

### In class work

In [19]:
#Problem 1
"""Given the provided DataFrame, how does bfill affect the mean value compared to mean without NaN's?
"""
np.random.seed(10)
df = pd.DataFrame({'data': np.random.randn(100)})
nans = np.random.choice(range(df.shape[0]), size=int(df.shape[0]/2), replace=False)
print(len(nans))
print(df)
df.iloc[nans] = np.nan

df_bfill = df.fillna(method='bfill')
df_ffill = df.fillna(method='ffill')
df_nona = df.dropna()
print(f'No Nans = {np.mean(df_nona)[0]}\nBackfill = {np.mean(df_bfill)[0]}\nForwardfill = {np.mean(df_ffill)[0]}')

50
        data
0   1.331587
1   0.715279
2  -1.545400
3  -0.008384
4   0.621336
5  -0.720086
6   0.265512
7   0.108549
8   0.004291
9  -0.174600
10  0.433026
11  1.203037
12 -0.965066
13  1.028274
14  0.228630
15  0.445138
16 -1.136602
17  0.135137
18  1.484537
19 -1.079805
20 -1.977728
21 -1.743372
22  0.266070
23  2.384967
24  1.123691
25  1.672622
26  0.099149
27  1.397996
28 -0.271248
29  0.613204
..       ...
70  0.319356
71  0.460903
72 -0.215790
73  0.989072
74  0.314754
75  2.467651
76 -1.508321
77  0.620601
78 -1.045133
79 -0.798009
80  1.985085
81  1.744814
82 -1.856185
83 -0.222774
84 -0.065848
85 -2.131712
86 -0.048831
87  0.393341
88  0.217265
89 -1.994394
90  1.107708
91  0.244544
92 -0.061912
93 -0.753893
94  0.711959
95  0.918269
96 -0.482093
97  0.089588
98  0.826999
99 -1.954512

[100 rows x 1 columns]
No Nans = -0.07256959619213524
Backfill = 0.07833747948942063
Forwardfill = 0.12376859652886857

## Merging DataFrames
It is very common to end up with multiple dataframes at a given time. Typically some of these dataframes will be in the same domain, and you may want to join the data together. Merging dataframes can be very useful, but also tricky, due to the number of ways we can add data together.

**pd.merge(df1, df2)** - This enables us to merge dataframes similar to a database join (the combination of every value in df1 to every value in df2)

In [23]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'], 'data2': range(3)})

print("DataFrame1:")
print(df1)
print("\nDataFrame2:")
print(df2)

print("\nMerged DataFrames - equal layout")
# pd.merge enables us to do an inner merge on DataFrames on shared columns
print(pd.merge(df1, df2))

# If we also want to include elements not found in both df, we can also use 'outer'
print("\nDataFrames merged by outer join:")
print(pd.merge(df1, df2, how='outer')) #Should now see c and d keys

# This can result in odd behavior if there isn't a 1-to-1 alignment
df2 = pd.DataFrame({'key': ['a', 'b', 'b', 'd'], 'data2': range(4)})
print("\nMerged DataFrames:")
print(pd.merge(df1, df2, on='key'))

DataFrame1:
  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

DataFrame2:
  key  data2
0   a      0
1   b      1
2   d      2

Merged DataFrames - equal layout
  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

DataFrames merged by outer join:
  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

Merged DataFrames:
  key  data1  data2
0   b      0      1
1   b      0      2
2   b      1      1
3   b      1      2
4   b      6      1
5   b      6      2
6   a      2      0
7   a      4      0
8   a      5      0

In [34]:
df1 = pd.DataFrame({'key_set1': ['b', 'b', 'a', 'c', 'a', 'a', 'b'], 'data1': range(7)})
df2 = pd.DataFrame({'key_set2': ['a', 'b', 'd'], 'data2': range(3)})

# If we don't have any shared columns, problems can arise
#print(pd.merge(df1, df2)) #ERROR!

# Thus sometimes we will either need to rename columns, or define the alignment manually
print("\nMerged DataFrames defining the column to merge on:")
print(pd.merge(df1, df2, left_on='key_set1', right_on='key_set2'))

# We can also merge on multiple keys
df1 = pd.DataFrame({'key1_set1': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'key2_set1': [1, 2, 1, 1, 2, 1, 2], 'data1': range(7)})
df2 = pd.DataFrame({'key1_set2': ['a', 'b', 'd'], 'key2_set2': [1, 2, 1], 
                    'data2': range(3)})

print("\nMerged DataFrames using multiple keys:")
print(pd.merge(df1, df2, left_on=['key1_set1', 'key2_set1'], right_on=['key1_set2', 'key2_set2']))

Merged DataFrames defining the column to merge on:
  key_set1  data1 key_set2  data2
0        b      0        b      1
1        b      1        b      1
2        b      6        b      1
3        a      2        a      0
4        a      4        a      0
5        a      5        a      0

Merged DataFrames using multiple keys:
  key1_set1  key2_set1  data1 key1_set2  key2_set2  data2
0         b          2      1         b          2      1
1         b          2      6         b          2      1
2         a          1      2         a          1      0
3         a          1      5         a          1      0

## Concatenating DataFrames
This is honestly a more typical use of merging dataframes. In this situation we have identical traits for our data (types/column names/rows) and we simply want to create a larger dataframe

In [42]:
# Sometimes you aren't trying to merge, but rather append, thus pd.concat
df1 = pd.DataFrame(np.arange(6).reshape(3,2), columns=['one', 'two'])
df2 = pd.DataFrame(np.random.randint(0, 10, 9).reshape(3,3), columns=['one', 'two', 'three'])
print(df1)
print(df2)

   one  two
0    0    1
1    2    3
2    4    5
   one  two  three
0    8    4      1
1    6    7      1
2    7    1      2

In [43]:
print("Simple Concatentation:")
print(pd.concat([df1, df2]))

Simple Concatentation:
   one  three  two
0    0    NaN    1
1    2    NaN    3
2    4    NaN    5
0    8    1.0    4
1    6    1.0    7
2    7    2.0    1

C:\Users\jdk51\Anaconda3\envs\IntroNN\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  from ipykernel import kernelapp as app

In [28]:
df_con = pd.concat([df1, df2], axis=1, keys=['data1', 'data2']) # This enables us to keep track of the source
print("\nHierarchy of DataFrames:")
print(df_con)

print("\nAccessing a slice of a hierarchical DataFrame:")
print(df_con['data2'])

print(df_con.keys())

Hierarchy of DataFrames:
  data1     data2
    one two   one two
0     0   1     3   8
1     2   3     3   0
2     4   5     9   6

Accessing a slice of a hierarchical DataFrame:
   one  two
0    3    8
1    3    0
2    9    6
MultiIndex(levels=[['data1', 'data2'], ['one', 'two']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [33]:
# Sometimes you aren't trying to merge, but rather append, thus pd.concat
df1 = pd.DataFrame(np.arange(6).reshape(3,2), columns=['one', 'two'])
df2 = pd.DataFrame(np.random.randint(0, 10, 6).reshape(3,2), columns=['three', 'four'])

print("Column Concatenation:")
print(pd.concat([df1, df2], axis=1)) # Here we simply tag on the new cols at the end

Column Concatenation:
   one  two  three  four
0    0    1      1     6
1    2    3      6     7
2    4    5      3     9

In [41]:
# Sometimes you aren't trying to merge, but rather append, thus pd.concat
df1 = pd.DataFrame(np.arange(6).reshape(3,2), columns=['one', 'two'])
df2 = pd.DataFrame(np.random.randint(0, 10, 16).reshape(4,4), columns=['three', 'four', 'five', 'six'])

print("Column Concatenation:")
print(pd.concat([df1, df2], axis=1)) # Here we simply tag on the new cols at the end

Column Concatenation:
   one  two  three  four  five  six
0  0.0  1.0      0     7     7    4
1  2.0  3.0      6     3     4    5
2  4.0  5.0      3     5     9    2
3  NaN  NaN      3     2     2    5

## Grouping Data
Very typically when working with data, we'll want to know trends within subsets or subgroups of our data (similar to "Select * From tbl Group By expr").

The `df.groupby()` is what enables us to query the data in this manner.

In [60]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

print(df)

  key1 key2     data1     data2
0    a  one  0.045853  0.581844
1    a  two  1.501076 -2.186875
2    b  one -0.356818  0.618370
3    b  two -0.486026 -0.938191
4    a  one  1.340376  1.707235

In [49]:

# We can group a dataframe based on keys/columns with the groupby() method
grouped = df['data1'].groupby(df['key1'])
print()
#print(grouped) # This doesn't have a very nice print statement

# for name, group in grouped:
#     print(name)
#     print(group)

# While a grouped object is a little unweildly on its own, it is quite useful
print("\nMean of our group:")
print(grouped.mean())

Mean of our group:
key1
a   -0.059345
b   -0.352261
Name: data1, dtype: float64

In [61]:
# We can group by a number of keys
grouped = df['data1'].groupby([df['key1'], df['key2']])
print("\nMean of our group2:")
print(grouped.mean()) # We see a similar hierarchy as we saw when merging datasets

# Note, list order for groupby matters
grouped = df['data1'].groupby([df['key2'], df['key1']])
print("\nMean of our group3:")
print(grouped.mean())

print("\nEasier view:")
print(grouped.mean().unstack())

Mean of our group2:
key1  key2
a     one     0.693115
      two     1.501076
b     one    -0.356818
      two    -0.486026
Name: data1, dtype: float64

Mean of our group3:
key2  key1
one   a       0.693115
      b      -0.356818
two   a       1.501076
      b      -0.486026
Name: data1, dtype: float64

Easier view:
key1         a         b
key2
one   0.693115 -0.356818
two   1.501076 -0.486026

In [62]:
#We don't always have to define the column we are interested in
print("\nMean on generic dataframe:")
print(df.groupby('key1').mean()) #Note: only numerics will be shown, since it's the mean

print("\nCounting elements in group:")
print(df.groupby('key1').count()) #Note: only numerics will be shown

Mean on generic dataframe:
         data1     data2
key1
a     0.962435  0.034068
b    -0.421422 -0.159911

Counting elements in group:
      key2  data1  data2
key1
a        3      3      3
b        2      2      2

Iterating through the groups object is similar to iterating through a dict.items():
 - `name, group in df.groupby(cols):`

In [63]:
#Iterating through Groups

print("\nIterating through a group")
for name, group in df.groupby('key1'):
    print(name)
    print(group)

print("\n\nIterating with multiple keys:")
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print(group)
    print()

Iterating through a group
a
  key1 key2     data1     data2
0    a  one  0.045853  0.581844
1    a  two  1.501076 -2.186875
4    a  one  1.340376  1.707235
b
  key1 key2     data1     data2
2    b  one -0.356818  0.618370
3    b  two -0.486026 -0.938191


Iterating with multiple keys:
('a', 'one')
  key1 key2     data1     data2
0    a  one  0.045853  0.581844
4    a  one  1.340376  1.707235

('a', 'two')
  key1 key2     data1     data2
1    a  two  1.501076 -2.186875

('b', 'one')
  key1 key2     data1    data2
2    b  one -0.356818  0.61837

('b', 'two')
  key1 key2     data1     data2
3    b  two -0.486026 -0.938191

## Aggregating Functions in DataFrames
When we group data, we are also provided the opportunity of providing aggregate functions to provide insights into the groups which can be implemented using the **agg()** method.

In [65]:
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
                  'key2': ['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2': np.random.randn(5)})

print(df)
grouped = df.groupby('key1')
print("\n\nAggregating using multiple functions:")
print(grouped['data1'].agg([np.sum, np.mean, np.std])) # Notice the agg function becomes the column name

print("\n\nUsing a dictionary to define aggregation:")
print(grouped.agg({'data1': 'sum', 'data2': np.mean}))

  key1 key2     data1     data2
0    a  one -1.102668  0.507776
1    a  two  0.298487  1.836702
2    b  one -0.388350 -0.135901
3    b  two  0.364419 -1.146031
4    a  one -1.021791 -0.059971


Aggregating using multiple functions:
           sum      mean       std
key1
a    -1.825973 -0.608658  0.786650
b    -0.023931 -0.011966  0.532288


Using a dictionary to define aggregation:
         data1     data2
key1
a    -1.825973  0.761503
b    -0.023931 -0.640966

In [66]:
df.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'