In [1]:
!jupyter labextension install @jupyter-widget/jupyterlab-manager

An error occured.
ValueError: Please install nodejs 5+ and npm before continuing installation. nodejs may be installed using conda or directly from the nodejs website.
See the log file for details:  /var/folders/_j/jznwfhmx7sqcg1ddfm6m9g6m0000gn/T/jupyterlab-debug-bsr0bzge.log

In [2]:
import matplotlib as plt
import pandas as pd 

sat = pd.read_excel("data/2018 SAT Scores for Public Schools.xlsx", header=5)

data = pd.read_csv("data/housing.csv")

In [3]:
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,Unnamed: 10,Unnamed: 11,Source - https://www.kaggle.com/harrywang/housing#housing.csv
0,-122.23,37.88,41,880,129.0,322,126,8.3252,452600,NEAR BAY,NaN,NaN,NaN
1,-122.22,37.86,21,7099,1106.0,2401,1138,8.3014,358500,NEAR BAY,NaN,NaN,NaN
2,-122.24,37.85,52,1467,190.0,496,177,7.2574,352100,NEAR BAY,NaN,NaN,NaN
3,-122.25,37.85,52,1274,235.0,558,219,5.6431,341300,NEAR BAY,NaN,NaN,NaN
4,-122.25,37.85,52,1627,280.0,565,259,3.8462,342200,NEAR BAY,NaN,NaN,NaN

In [4]:
data['house_value_buckets'] = pd.cut(data['median_house_value'], [0, 100000, 200000, 300000, 400000, 500000, 600000])

In [5]:
%matplotlib
plot1 = data.groupby('house_value_buckets').size().plot(kind='bar', color='red')

plot1.set_xlabel('House Value')

plot1.set_ylabel('Count per Bucket')

Using matplotlib backend: MacOSX

Text(0, 0.5, 'Count per Bucket')

In [6]:
%matplotlib
plot2 = data.groupby('house_value_buckets').size().plot(kind='pie', autopct='%1.0f%%', pctdistance=1.1, labeldistance=1.2)

plot2.set_xlabel('House Value')

plot2.set_ylabel('Count per Bucket')

Using matplotlib backend: MacOSX

Text(0, 0.5, 'Count per Bucket')

In [54]:
%matplotlib
plot3 = data.groupby('house_value_buckets').size().plot(kind='line', color='purple')

plot3.set_xlabel('House Value')

plot3.set_ylabel('Count per Bucket')

Using matplotlib backend: MacOSX

In [58]:
%matplotlib
plot4 = data.groupby('house_value_buckets').size().hist()
plot4.set_xlabel('House Value')

plot4.set_ylabel('Count per Bucket')

Using matplotlib backend: MacOSX

Text(0, 0.5, 'Count per Bucket')

In [76]:
%matplotlib
plot5 = data.plot.scatter(x='median_house_value', y='median_income', color='green')

Using matplotlib backend: MacOSX

In [11]:
%matplotlib
plot6 = data.groupby('house_value_buckets').size().plot.box()
plot6.set_xlabel('House Value')

plot6.set_ylabel('Count per Bucket')

Using matplotlib backend: MacOSX

Text(0, 0.5, 'Count per Bucket')